* {
	font-family: "Pretendard", sans-serif;
	font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
}

.sc_sidebar-menu>a>li {
	padding: 10px;
	box-sizing: border-box;
	font-size: 24px;
	font-weight: bold;
}

.sc_sidebar-menu>a {
	text-decoration: none;
	color: #000;
}

.sc_menu.clicked {
	color: #87C791;
}

.sc_course-sidebar-right>.sc_sidebar-logo>h3 {
	margin-top: 20px;
}

.sc_sidebar-menu-selected>li {
	color: #87C791;
}

@media ( min-width : 769px) {
	html, body {
		height: 100%;
	}
	#container {
		box-sizing: border-box;
		display: flex;
		width: 100vw;
		height: 100vh;
	}
	aside {
		width: 25%;
		height: 100%;
		text-align: center;
		display: flex;
	}
	.sc_course-sidebar-left {
		width: 20%;
		background-color: #2F2A2A;
	}
	.sc_sidebar-icon {
		width: 30px;
		filter: invert();
		opacity: 0.7;
	}
	.sc_course-sidebar-left>.sc_sidebar-menu>li {
		width: 100%;
		padding: 30px 0;
		box-sizing: content-box;
		border-bottom: 1px solid gray;
	}
	.sc_course-sidebar-right {
		width: 80%;
	}
	.sc_sidebar-logo {
		padding: 50px;
		padding-bottom: 0;
		margin-top: -20px;
	}
	.sc_sidebar-logo>* {
		margin-block-end: 20px;
	}
	.sc_sidebar-logo>a {
		text-decoration: none;
		box-sizing: border-box;
		font-size: 24px;
		color: #87C791;
	}
	main {
		margin-block-end: 30px;
		width: 75%;
		height: 100vh;
		padding: 30px;
		background-color: #f2f2f2;
		overflow: auto;
	}
	h3 {
		font-size: 24px;
	}
	#sc_mobile-menu {
		display: none;
	}
	#sc_menuList {
		display: none;
	}
}

@media ( max-width : 768px) {
	.sc_course-sidebar-left {
		width: 0px !important;
		display: none !important;
	}
	.sc_sidebar-logo {
		width: 0px !important;
		display: none !important;
	}
	#container {
		display: grid;
		width: 100%;
		height: 100%;
	}
	aside {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
	main {
		width: 100%;
		height: 100vh;
	}
	#sc_mobile-menu {
		width: auto;
		background-color: #2F2A2A;
		color: white;
		position: relative;
		display: flex;
		padding: 20px;
		justify-content: center;
		align-items: center;
	}
	#sc_backBtn {
		position: absolute;
		display: block !important;
		left: 30px;
		color: white;
		cursor: pointer;
	}
	.sc_menuName {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}
	#sc_mobile-menu-icon {
		position: absolute;
		display: block !important;
		filter: invert(1);
		right: 20px;
	}
	#sc_mobile-menu-icon:hover {
		cursor: pointer;
	}
	.sc_course-sidebar-right {
		width: 100%;
	}
	.sc_sidebar-menu {
		position: relative;
		width: 100%;
		display: flex;
		background-color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
			rgba(0, 0, 0, 0.19);
		justify-items: center;
		z-index: 1;
	}
	.sc_sidebar-menu>a {
		text-decoration: none;
		text-align: center;
	}
	.sc_sidebar-menu>a>li {
		box-sizing: border-box;
		font-size: 24px;
		font-weight: bold;
	}
	#sc_menuList {
		position: absolute;
		width: 100%;
		top: 65px;
		text-align: center;
		background-color: #2F2A2A;
		color: white;
		font-size: 24px;
		font-weight: bold;
		z-index: 1;
		padding-bottom: 100px;
	}
	#sc_menuList>li>a {
		text-decoration: none;
		color: white;
	}
	#sc_menuList>li {
		height: 50px;
		padding-top: 7px;
	}
	#sc_menuList>li:hover {
		background-color: #87C791;
	}
	.sc_button {
		width: 25%;
		height: 90px;
		background: #ffffff;
		border: 1px solid #d9d9d9;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #97999c;
		font-weight: bold;
		font-size: 24px;
	}
}