* {
    font-family: "Pretendard", sans-serif;
    font-style: normal;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

.sidebar-menu>a>li{
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
}
.sidebar-menu>a{
    text-decoration: none;
	color:#000;
}

.menu.clicked  {
    color: #87C791;
}

.course-sidebar-right>.sidebar-logo>h3{
    margin-top:20px;
}

@media (min-width: 769px){
	html, body{
		height:100%;
	}
    #container {
        box-sizing: border-box;
        display: flex;
        width: 1440px;
		height:100%;
    }

	
    aside {
		position: sticky;
		top: 0px;
        width: 400px;
		height:100%;
        text-align: center;
        display: flex;
    }

    .course-sidebar-left {
        width: 80px;
        background-color: #2F2A2A;
    }

    .sidebar-icon {
        width: 30px;
        filter: invert();
        opacity: 0.7;

    }

    .course-sidebar-left>.sidebar-menu>li {
        width: 100%;
        padding: 30px 0;
        box-sizing: content-box;
        border-bottom: 1px solid gray;
    }

    .course-sidebar-right {
        width: 320px;
    }


    .sidebar-logo {
        padding: 50px;
        padding-bottom: 0;
    }

    .sidebar-logo>* {
        margin-block-end: 20px;
    }


    .sidebar-logo>a {
        text-decoration: none;
        box-sizing: border-box;
        font-size: 24px;
        color:#87C791;
    }

    main {
        margin-block-end: 30px;
        width: 100%;
		height:100vh;
        padding: 30px;
        background-color: #f2f2f2;
    }

    h3{
        font-size:24px;
    }

    #mobile-menu {
        display: none;
    } 

   #menuList{
    display: none;
   }

}

@media (max-width: 768px) {
    .course-sidebar-left{
        width:0px !important;
        display:none !important;
    }

    .sidebar-logo {
        width:0px !important;
        display: none !important;
    }

    #container {
        display: grid;
        width: 100%;
        height: 100%;
    }

    aside {
        width:100%;
        height: 100%;
        box-sizing: border-box;
    }
	
	main {
	    width: 100%;
		height:100vh;
	}


    #mobile-menu{
        width:auto;
        background-color:#2F2A2A;
        color:white;
        position: relative;
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    #backBtn{
        position: absolute;
        display: block !important;
        left: 30px;
        color:white;
        cursor:pointer;
    }
    .menuName{
        font-size:24px;
		font-weight:bold;
        text-align: center;
    }

    

    #mobile-menu-icon {
        position: absolute;
        display: block !important;
        filter: invert(1);
        right: 20px;
    }

    #mobile-menu-icon:hover {
        cursor: pointer;
    }
    .course-sidebar-right{
        width:100%;
    }

    .sidebar-menu{
		position:relative;
        width:100%;
        display: flex;
        background-color: white;
        padding-top:10px;
        padding-bottom:10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) ;
        justify-items: center;
		z-index:1;
        

    }

    .sidebar-menu>a{
        text-decoration: none;
        text-align: center;
    }

    .sidebar-menu>a>li{
        box-sizing: border-box;
        font-size: 24px;
        font-weight: bold;
    }

    #menuList{
        position:absolute;
        width:100%;
        top:65px;
        text-align: center;
        background-color: #2F2A2A;
        color:white;
        font-size: 24px;
        font-weight: bold;
        z-index: 1;
        padding-bottom: 100px;
    }

	#menuList>li>a{
		text-decoration:none;
		color:white;

	}
    #menuList>li{
        height:50px;
        padding-top:7px;
    }

    #menuList>li:hover{
        background-color: #87C791;
    }

    
    
}
