/* 기본 설정 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	font-family: Inter, sans-serif;
	background-color: #f2f2f2;
}

/* 컨테이너 */
.container {
	width: 100%;
	height: 1080px;
	background: #f2f2f2;
	position: relative;
	overflow: hidden;
}

/* 헤더 */
.header {
	display: flex;
	top: 22px;
}

a {
	text-decoration: none;
}

.button.active {
	background: #87c689;
	color: #ffffff;
}

.material_write_button {
	width: 180px;
	height: 60px;
	padding: 15px;
	background: #fff;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	border: 1px solid #d9d9d9;
	border-radius: 12px;
	margin-left: auto;
	color: #000;
}

/* 강의노트, 강의 자료 */
.course-note, .course-materials {
	background-color: #ffffff;
	padding: 40px;
	border: 1px solid #dddddd;
}

.post {
	display: grid;
	grid-template-columns: 1fr 200px;
	align-items: center;
	margin-bottom: 20px;
}

.board-title {
	display: block;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #333333;
}

.item-mt {
	margin-bottom: -20px;
}

.title {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

.date {
	display: block;
	font-size: 14px;
	color: #666666;
}

.file-list {
	margin-top: 10px;
}

.file-info {
	display: flex;
}

.file {
	font-size: 16px;
	color: #000;
}

.files {
	padding-left: 20px;
}

.files a {
	font-size: 16px;
	display: block;
	margin-bottom: 10px;
	color: #007bff;
}

.files a:hover {
	text-decoration: underline;
}

#course {
	width: 18%;
}

@media ( min-width : 769px) {
	.notice_write_button_mobile {
		display: none;
	}
	main {
		width: 75%;
		padding: 25px;
		position: relative;
		display: inline-block;
		background-color: #f2f2f2;
	}
	.course-board-list {
		position: absolute;
		top: 10%;
		width: 95%;
	}
	.button {
		width: 146px;
		height: 90px;
		background: #ffffff;
		border: 1px solid #d9d9d9;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #97999c;
		font-weight: bold;
		font-size: 24px;
	}
}

@media ( max-width : 768px) {
	main {
		width: 100%;
		position: relative;
		display: inline-block;
		background-color: #f2f2f2;
	}
	.material_write_button {
		display: none;
	}
	.course-board-list {
		width: 100%;
	}
	.notice_write_button_mobile {
		width: 97%;
		height: 60px;
		padding: 15px;
		background: #fff;
		font-weight: bold;
		font-size: 24px;
		text-align: center;
		border: 1px solid #d9d9d9;
		border-radius: 12px;
		margin-left: auto;
		margin-top: -8%;
		color: #000;
		margin-top: 7%;
		position: fixed;
		bottom: 5px;
		left: 10px;
	}
	.course-board-list {
		top: 10%;
		width: 100%;
	}
}