a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.f20 {
    font-size: 20px;
}

.f24 {
    font-size: 24px;
}

.f30 {
    font-size: 30px;
}

.f32 {
    font-size: 32px;
}

.grid {
    display: grid;
}

.grid.cen {
    justify-content: center;
    align-items: center;
}

.grid.g10 {
    gap: 10px;
}

.grid.g20 {
    gap: 20px;
}

.grid.c2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid.c4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid.c4.per {
    grid-template-columns: 10% 40% 10% 40%;
}

.flex {
    display: flex;
}

.flex.cen{
    justify-content: center;
    align-items: center;
}

.flex.je {
    justify-content: end;
}

.w400 {
    width: 400px;
}

.float-right {
    float: right;
}

.s200 {
    width: 200px;
    height: 200px;
}

.ta.cen {
    text-align: center;
}

.tab {
    background-color: white;
    border-collapse: collapse;
}

.tab td {
    border: 1px solid #d9d9d9;
}

.fig {
    border: 1px solid #d9d9d9;
    background-color: white;
    padding: 20px;
}

.fig.full {
    grid-column-start: 1;
    grid-column-end: 3;
}

.border-right {
    border-right: 1px solid gainsboro;
}

.mr20 {
    margin-right: 20px;
}

.chart,
.bullet.box {
    position: relative;
    width: 100%;
}

.chart {
    height: 100px;
    align-items: center;
}

.bullet.box {
    z-index: 3;
    height: 30px;
}

.bullet.bar {
    width: 60.2%;
    height: 30px;
}

#avg {
    position: absolute;
    top: 0;
    left: 49.8%;
}

#curr {
    position: absolute;
    left: 60.2%;
    bottom: 0;
}

.line {
    width: 1px;
    height: 20px;
    background-color: black;
    justify-self: center;
}

.info {
    width: 400px;
}