/* 전역 스타일 */
* {
	font-family: "Pretendard", sans-serif;
	font-style: normal;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

/* 크기 속성 정의 */

/* 컨테이너 정의 */
.container {
	width: 100vw;
	height: 100vh;
}

/* 사이드바 크기 정의 */
.sidebar {
	width: 25%;
	height: 100%;
}

/* 본문 크기 정의 */
.contents {
	width: 75%;
	height: 100%;
}

/* 검색바 크기 */
.search {
	width: 360px;
	height: 50px;
}

/* 모달창 크기 */
.modal {
	width: 550px;
	height: 550px;
	margin: auto;
	z-index: 3;
}

/* 입력창 크기 */
.w360 {
	width: 360px;
}

.w120 {
	width: 120px;
}

/* display 및 하위 속성 정의 */
.flex {
	display: flex;
}

.grid {
	display: grid;
}

.grid.fr2 {
	grid-template-columns: repeat(2, 1fr);
}

.mobile {
	display: none;
}

/* flex 또는 grid 아이템을 중앙 수평 정렬 */
.cen.h {
	justify-content: center;
}

.end.self {
	justify-self: end;
}

/* flex 또는 grid 아이템을 중앙 수직 정렬 */
.cen.v {
	align-items: center;
}

.end.v {
	align-items: end;
}

/* margin 속성 정의 */
.mb10 {
	margin-block: 10px;
}

.mbe30 {
	margin-block-end: 30px;
}

/* padding 속성 정의 */
.p50 {
	padding: 50px;
}

.p30 {
	padding: 30px;
}

.g20 {
	gap: 20px;
}

/* 폰트 속성 정의 */
.f36 {
	font-size: 36px;
}

.f32 {
	font-size: 32px;
}

.f30 {
	font-size: 30px;
}

.f24 {
	font-size: 24px;
}

.f20 {
	font-size: 20px;
}

.f16 {
	font-size: 16px;
}

.bold {
	font-weight: bold;
}

/* 색상 속성 정의 */

/* 글자색 정의 */
.c87c791 {
	color: #87c791;
}

.cffffff {
	color: #ffffff;
}

.c000000 {
	color: #000000;
}

.cd9d9d9 {
	color: #d9d9d9;
}

.c888888 {
	color: #888888;
}

.cff0000 {
	color: #c70000;
}

.c24c2a2 {
	color: #24c2a2;
}

/* 배경색 정의 */
.bgffffff {
	background-color: #ffffff;
}

.bgd9d9d9 {
	background-color: #d9d9d9;
}

.bgf2f2f2 {
	background-color: #f2f2f2;
}

.bg87c791 {
	background-color: #87c791;
}

.bg888888 {
	background-color: #888888;
}

.bgc70000 {
	background-color: #c70000;
}

.bg24c2a2 {
	background-color: #24c2a2;
}

/* 사이드바 관련 스타일 정의 */
.sidebar {
	text-align: center;
}

.sidebar.main, .side.main {
	background-color: #2f2a2a;
}

.sidebar .logo {
	position: relative;
}

.sidebar .logo a {
	color: white;
}

/* 강의 사이드바 하위 영역 스타일 정의 */
.side.main {
	width: 60px;
}

.side.main .menulist .item {
	padding: 30px 0;
}

.side.main .icon {
	opacity: 0.7;
}

.side.course {
	width: 300px;
	box-sizing: border-box;
}

.sidebar.admin {
	background-color: #d9d9d9;
}

/* 메뉴 관련 스타일 정의 */
.menu {
	padding: 30px;
	font-size: 20px;
	font-weight: bold;
}

.menu.selected {
	background-color: #87c791 !important;
}

.menu:not(.selected):hover {
	cursor: pointer;
}

/* 본문 관련 스타일 정의 */
.contents {
	padding: 50px;
}

/* 버튼 관련 스타일 정의 */
.btn {
	width: 110px;
	height: 50px;
	border: 1px solid #d9d9d9;
}

.btn.small {
	width: 60px;
	height: 30px;
}

.btn.modal {
	width: 400px;
}

.btn:hover, .menu:not(.selected):hover {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

/* 아이콘 관련 스타일 정의 */
.icon {
	filter: invert(1);
}

/* 검색바 관련 스타일 정의 */
.search.box {
	display: flex;
	justify-self: end;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid gainsboro;
	border-radius: 30px;
	background-color: #ffffff;
}

.search.box>input[name="keyword"] {
	width: 100%;
	height: 100%;
	padding: 20px;
	font-size: 16px;
	border: none;
	box-sizing: border-box;
	background: transparent;
	height: 100%;
	border-radius: 30px;
}

.search.box>input[name="keyword"]:focus {
	border: none;
}

.search.box>.iconBtn {
	display: grid;
	justify-content: center;
	align-items: center;
	top: 0;
	padding-right: 10px;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: none;
	background: transparent;
}

.search.box>.iconBtn:hover {
	cursor: pointer;
}

/* 페이지네이션 관련 스타일 정의 */
.pagination {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.page {
	padding: 0 20px;
	font-size: 20px;
	font-weight: bold;
}

.page.selected {
	color: #d9d9d9;
}

.page.selected {
	color: #87c791;
}

.page:hover {
	cursor: pointer;
}

/* 미디어 쿼리 정의 */
@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		height: 100vh;
		display: block !important;
	}
	.modal {
		width: 100%;
	}
	.logo {
		position: sticky !important;
		height: 70px !important;
	}
	.sidebar, .contents {
		width: 100vw;
	}
	.sidebar {
		position: relative;
		height: 100px;
	}
	.mobile {
		position: absolute;
		display: block;
		right: 30px;
	}
	.mobile:hover {
		cursor: pointer;
	}
	.sidebar.main>.menulist {
		background-color: #2f2a2a;
	}
	.menulist {
		position: absolute;
		z-index: 3;
		width: 100%;
		display: none;
		padding-bottom: 50px;
	}
	.menulist.show {
		display: inherit;
	}
	.contents {
		padding: 30px;
	}
	.search.box {
		width: 100%;
	}
}