* {
    font-family: "Pretendard", sans-serif;
    font-style: normal;
}

dialog {
    width: 450px;  /* 모달창 크기 조정 */
    height: auto;
    padding: 0;
    border: 1px solid gainsboro;
    overflow: hidden;
    border-radius: 20px;
    position: fixed;  /* 중앙 위치를 위한 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-top {
    position: relative;
    padding: 15px;
    background-color: #87C791;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.exit {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.modal-bottom {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-bottom form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-bottom form label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}

.modal-bottom form label span {
    flex: 0 0 100px;  /* 라벨 크기 고정으로 정렬 통일성 부여 */
}

.modal-bottom form input[type="text"],
.modal-bottom form input[type="email"] {
    width: calc(100% - 110px);  /* 입력 필드 크기 조정 */
    height: 35px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

.modal-bottom form input[type="text"]:focus,
.modal-bottom form input[type="email"]:focus {
    outline: none;
    border-color: #87C791;
}

.modal-bottom form button[type="submit"] {
    width: 100%;
    height: 45px;
    background-color: #87C791;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-bottom form button[type="submit"]:hover {
    background-color: #76b682;
}

@media (max-width: 550px) {
    dialog {
        width: 90%;
        height: auto;
    }
}
