@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular' !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

#container {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a {
    color: #87c691;
}

h1 {
    font-size: 55px;
}

#text-tag {
    width: 470px;
}

a {
    text-decoration: none;
}

span {
    float: left;
    color: #d9d9d9;
}

#signup {
    text-decoration: underline;
    float: right;
}

input, button {
    margin-bottom: 3%;
}

input {
    width: 468px;
    height: 63px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    display: block;
    padding-left: 5%;
}

input:focus {
    outline: 2px solid #87c691;
}

input::placeholder {
    color: #d9d9d9;
}

button {
    cursor: pointer;
    width: 470px;
    height: 65px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: hsl(130, 36%, 65%);
    box-shadow: 0 2px 4px #d9d9d9;
}

/* 호버 */
@media (hover:hover) and (pointer:fine) {
    button:hover {
        background-color: rgb(136, 184, 144);
    }
    #text-tag span:hover {
        color: #888888;
    }
}

/* 모바일 */
@media screen and (max-width: 768px) {
    #container {
        width: 100vw;
        height: 100%;

        padding: 0 10vw;
    }
    
    header {
        width: 100%;
        margin: 10vh 0;
    }
    
    main {
        width: 100%;
        justify-content: center;
    }
    
    header a {
        color: #87c691;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    #text-tag {
        width: 100%;
    }
    
    input, button {
        width: 80vw;
        height: 7vh;
        margin-bottom: 1rem;
    }
}