@media ( max-width : 768px) {
	.float-right {
		float: inherit;
		margin-left: 10px;
	}
	.tab {
		width: 100%;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.tab td {
		padding: 20px 0;
	}
	.fig.qr {
		display: none;
	}
	.qr {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.info {
		width: auto;
	}
	.search-box, .search-box>div, .search-box [type="text"] {
		width: 100% !important;
	}
	.course-additional>* {
		width: 100%;
	}
	.course-info {
		max-width: 200px;
	}
}

.tab.inst {
	color: #888888;
	transition: 3s;
}

.tab.inst td:hover {
	cursor: pointer;
	color: white;
	background-color: #24C2A2;
}