main {
    margin: 1% 0;
}

span {
	font-weight: bold;
	color: red;
}

table {
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 40px;
}

th {
    width: 20%;
    vertical-align: top;
}

input {
    width: 510px;
    height: 45px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding-left: 2%;
    margin-bottom: 1%;
    vertical-align: top;
}

input:focus {
    outline: 2px solid #87c691;
}

main p {
    color: #888888;
    vertical-align: bottom;
}

button {
    width: 135px;
    height: 65px;

    border-radius: 5px;
    border: none;

    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 2px 4px #d9d9d9;
}

#signupBtn {
    background-color: #87c691;
    float: right;
}

@media (hover:hover) and (pointer:fine) {
    #signupBtn:hover {
        background-color: #88b890;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-bottom: 10vh;
    }

    button {
        width: 100%;
        height: 7vh;
        font-size: 1.1rem;
    }

    input {
        width: 100%;
        height: 5vh;

        margin-bottom: 1vh;
    }

    th {
        width: 40%;
    }

    td {
        width: 60%;
    }
}