@charset "UTF-8";

.tab.notice .item {
	border: 1px solid #d9d9d9;
	border-bottom: none;
	border-collapse: collapse;
}

.tab.notice .item:last-child {
	border-bottom: 1px solid #d9d9d9;
}

.tab.notice .item {
	position: relative;
	display: flex;
	width: 100%;
	padding: 20px 40px;
	box-sizing: border-box;
	align-items: center;
	text-align: center;
	background-color: white;
}

.prefix, .title, .date {
	text-align: start;
}

.prefix {
	width: 20%;
	font-weight: bold;
}

.title {
	width: 40%;
	font-size: 20px;
}

.date {
	width: 30%;
	color: #888888;
	font-size: 14px;
	text-align: end;
	box-sizing: border-box;
}

.toggle {
	width: 10%;
	color: #888888;
	text-align: end;
}

.toggle::after {
	content: "⋯";
	color: #888888;
}

.toggle.selected::after {
	content: "✕";
}

.keyword {
	padding: 20px;
	text-align: center;
}

/* 게시글 관련 CSS 정의 */
.post {
	display: grid;
	justify-items: start;
	padding: 20px;
}

.content {
	display: grid;
	justify-items: start;
	text-align: start;
	font-size: 16px;
	margin-bottom: 10px;
	white-space: pre-wrap;
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.attms li {
	list-style-type: none;
}

.attms li a {
	color: #3498db;
	text-decoration: none;
}

.attms li a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 16px !important;
		text-align: start;
		max-width: 250px;
	}
	.date {
		width: auto;
		text-align: start;
	}
}