@charset "UTF-8";

#scanner {
	position: fixed;
	width: 100vw;
	height: 100vh;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
	border: none;
	z-index: 5;
	top: 0;
	left: 0;
}

#scanText {
	position: absolute;
	width: 50vw;
	left: 25vw;
	top: 50%;
	z-index: 4;
	color: white;
}